rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for the users collection
    match /users/{userId} {
      // Allow read if the authenticated user's UID matches the userId
      allow read: if request.auth != null && request.auth.uid == userId;

      // Allow write only if the authenticated user's role is 'admin'
      allow write: if request.auth != null &&
       															exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
                                    get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Rules for the posts collection
    match /posts/{id} {
      // Allow read for everyone
      allow read: if true;

      // Allow create, update, delete only if the user is authenticated and has an 'admin' role
      allow create, update, delete: if request.auth != null && 
                                    exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
                                    get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
